@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  background-color: #cccccc;
}

@media screen and (max-width: 490px) {
  .headerContainer {
    display: flex;
    flex-direction: column;
  }
  .menuListContainer {
    margin-left: auto;
    margin-top: 20px;
  }
  .logoContainer {
    margin-right: auto;
  }
}

@media screen and (max-width: 390px) {
  .buttonContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 670px) {
  .staffCardContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }
  .iconGroup {
    justify-content: center;
  }
}
